<div style="position:fixed;left:120px;top:120px" class='container' [ng2-draggable]="true">
  <div class="row">
    <div class="col-md-5 height90vh border  chat-box">
      <div class='row'>
        <div class="col-md-12 title">
          Reciever name goes here
        </div>
      </div>
      <div class="row">
          <div class="col-md-">
            <textarea></textarea>  
        </div>
      <div class="row">
        <div class="col-md-12">
          <textarea></textarea>  
      </div>
</div>
<div class="row">
    <div class="col-md-12"> 
       <button>Send</button>
      </div>
</div>
</div>
</div> 
</div>